apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: echo-task
spec:
  params:
    - name: message
      type: string
  steps:
    - name: echo
      image: alpine
      script: |
        echo "$(params.message)"
