apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: git-clone
  labels:
    app.kubernetes.io/version: "0.9"
  annotations:
    tekton.dev/pipelines.minVersion: "0.38.0"
    tekton.dev/categories: Git
    tekton.dev/tags: git
    tekton.dev/displayName: "git clone"
    tekton.dev/platforms: "linux/amd64,linux/s390x,linux/ppc64le,linux/arm64"
    tekton.dev/deprecated: "true"
spec:
  description: >
    Clone a git repository into the output workspace.
  workspaces:
    - name: output
    - name: ssh-directory
      optional: true
    - name: basic-auth
      optional: true
    - name: ssl-ca-directory
      optional: true
  params:
    - name: url
      type: string
    - name: revision
      type: string
      default: ""
    - name: refspec
      type: string
      default: ""
    - name: submodules
      type: string
      default: "true"
    - name: depth
      type: string
      default: "1"
    - name: sslVerify
      type: string
      default: "true"
    - name: crtFileName
      type: string
      default: "ca-bundle.crt"
    - name: subdirectory
      type: string
      default: ""
    - name: sparseCheckoutDirectories
      type: string
      default: ""
    - name: deleteExisting
      type: string
      default: "true"
    - name: httpProxy
      type: string
      default: ""
    - name: httpsProxy
      type: string
      default: ""
    - name: noProxy
      type: string
      default: ""
    - name: verbose
      type: string
      default: "true"
    - name: gitInitImage
      type: string
      default: ghcr.io/tektoncd/github.com/tektoncd/pipeline/cmd/git-init:v0.40.2
    - name: userHome
      type: string
      default: /home/git
  results:
    - name: commit
    - name: url
    - name: committer-date
  steps:
    - name: clone
      image: "$(params.gitInitImage)"
      env:
        - name: HOME
          value: "$(params.userHome)"
        - name: PARAM_URL
          value: "$(params.url)"
        - name: PARAM_REVISION
          value: "$(params.revision)"
        - name: PARAM_REFSPEC
          value: "$(params.refspec)"
        - name: PARAM_SUBMODULES
          value: "$(params.submodules)"
        - name: PARAM_DEPTH
          value: "$(params.depth)"
        - name: PARAM_SSL_VERIFY
          value: "$(params.sslVerify)"
        - name: PARAM_CRT_FILENAME
          value: "$(params.crtFileName)"
        - name: PARAM_SUBDIRECTORY
          value: "$(params.subdirectory)"
        - name: PARAM_DELETE_EXISTING
          value: "$(params.deleteExisting)"
        - name: PARAM_HTTP_PROXY
          value: "$(params.httpProxy)"
        - name: PARAM_HTTPS_PROXY
          value: "$(params.httpsProxy)"
        - name: PARAM_NO_PROXY
          value: "$(params.noProxy)"
        - name: PARAM_VERBOSE
          value: "$(params.verbose)"
        - name: PARAM_SPARSE_CHECKOUT_DIRECTORIES
          value: "$(params.sparseCheckoutDirectories)"
        - name: PARAM_USER_HOME
          value: "$(params.userHome)"
        - name: WORKSPACE_OUTPUT_PATH
          value: "$(workspaces.output.path)"
        - name: WORKSPACE_SSH_DIRECTORY_BOUND
          value: "$(workspaces.ssh-directory.bound)"
        - name: WORKSPACE_SSH_DIRECTORY_PATH
          value: "$(workspaces.ssh-directory.path)"
        - name: WORKSPACE_BASIC_AUTH_DIRECTORY_BOUND
          value: "$(workspaces.basic-auth.bound)"
        - name: WORKSPACE_BASIC_AUTH_DIRECTORY_PATH
          value: "$(workspaces.basic-auth.path)"
        - name: WORKSPACE_SSL_CA_DIRECTORY_BOUND
          value: "$(workspaces.ssl-ca-directory.bound)"
        - name: WORKSPACE_SSL_CA_DIRECTORY_PATH
          value: "$(workspaces.ssl-ca-directory.path)"
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
      script: |
        #!/usr/bin/env sh
        set -eu

        if [ "${PARAM_VERBOSE}" = "true" ]; then
          set -x
        fi

        if [ "${WORKSPACE_BASIC_AUTH_DIRECTORY_BOUND}" = "true" ]; then
          USERNAME="$(cat "${WORKSPACE_BASIC_AUTH_DIRECTORY_PATH}/username")"
          PASSWORD="$(cat "${WORKSPACE_BASIC_AUTH_DIRECTORY_PATH}/password")"

          echo "https://${USERNAME}:${PASSWORD}@gitlab.ulb.be" > "${PARAM_USER_HOME}/.git-credentials"
          echo "[credential]" > "${PARAM_USER_HOME}/.gitconfig"
          echo "  helper = store" >> "${PARAM_USER_HOME}/.gitconfig"

          chmod 400 "${PARAM_USER_HOME}/.git-credentials"
          chmod 400 "${PARAM_USER_HOME}/.gitconfig"
        fi

        if [ "${WORKSPACE_SSH_DIRECTORY_BOUND}" = "true" ]; then
          cp -R "${WORKSPACE_SSH_DIRECTORY_PATH}" "${PARAM_USER_HOME}/.ssh"
          chmod 700 "${PARAM_USER_HOME}/.ssh"
          chmod -R 400 "${PARAM_USER_HOME}/.ssh"/*
        fi

        if [ "${WORKSPACE_SSL_CA_DIRECTORY_BOUND}" = "true" ]; then
          export GIT_SSL_CAPATH="${WORKSPACE_SSL_CA_DIRECTORY_PATH}"
          if [ "${PARAM_CRT_FILENAME}" != "" ]; then
            export GIT_SSL_CAINFO="${WORKSPACE_SSL_CA_DIRECTORY_PATH}/${PARAM_CRT_FILENAME}"
          fi
        fi

        CHECKOUT_DIR="${WORKSPACE_OUTPUT_PATH}/${PARAM_SUBDIRECTORY}"

        if [ "${PARAM_DELETE_EXISTING}" = "true" ] && [ -d "${CHECKOUT_DIR}" ]; then
          rm -rf "${CHECKOUT_DIR:?}"/*
          rm -rf "${CHECKOUT_DIR}"/.[!.]*
          rm -rf "${CHECKOUT_DIR}"/..?*
        fi

        test -z "${PARAM_HTTP_PROXY}" || export HTTP_PROXY="${PARAM_HTTP_PROXY}"
        test -z "${PARAM_HTTPS_PROXY}" || export HTTPS_PROXY="${PARAM_HTTPS_PROXY}"
        test -z "${PARAM_NO_PROXY}" || export NO_PROXY="${PARAM_NO_PROXY}"

        git config --global --add safe.directory "${WORKSPACE_OUTPUT_PATH}"

        /ko-app/git-init \
          -url="${PARAM_URL}" \
          -revision="${PARAM_REVISION}" \
          -refspec="${PARAM_REFSPEC}" \
          -path="${CHECKOUT_DIR}" \
          -sslVerify="${PARAM_SSL_VERIFY}" \
          -submodules="${PARAM_SUBMODULES}" \
          -depth="${PARAM_DEPTH}" \
          -sparseCheckoutDirectories="${PARAM_SPARSE_CHECKOUT_DIRECTORIES}"

        cd "${CHECKOUT_DIR}"
        git rev-parse HEAD > "$(results.commit.path)"
        git log -1 --pretty=%ct > "$(results.committer-date.path)"
        printf "%s" "${PARAM_URL}" > "$(results.url.path)"
